six
future
mkdir-p
h5py
bistiming>=0.1.1
numpy
scipy
networkx<2
pyyaml
tables
pandas
h5sparse>=0.0.4

# for testing
pylint
flake8
tox

# for example
scikit-learn
# for Python 2: progressbar
# for Python 3: progressbar33
# progressbar
progressbar33
