six
future
mkdir-p
h5py
bistiming
numpy
scipy
networkx
pyyaml
tables
pandas
h5sparse>=0.0.2

# for testing
pylint
flake8
tox

# for example
scikit-learn
# for Python 2: progressbar
# for Python 3: progressbar33
# progressbar
progressbar33
