six
future
mkdir-p
h5py
bistiming
numpy
networkx
pyyaml

# for testing
pylint
tox

# for example
pandas
scikit-learn
# for Python 2: progressbar
# for Python 3: progressbar33
# progressbar
progressbar33
